<div class="container">
  <br>
  <br>
  <br>
<h3>Thank you for your application!</h3>

<p> We would like to thank you for your patience as our team reviews the information you have recently submitted.</p>
<p> Please allow up to 7 days for your application to be processed. </p>

<p> In the meantime, we thank you for choosing Bootcamp Bucks!</p>

<p> Best Regards, </p>
<p> The Team at Bootcamp Bucks</p></div>