<div class="jumbotron">

  <h2>Your Application was Successfully Submitted!</h2>

  <p>Thank you for submitting your application. Now the ball is in our court. Here is what you can expect for the next steps in the application process:</p>

  <div class="list_of_items">
    <div class="row">
      <div class="text-center circle orange white-text"> 1 </div><p>Your application will be reviewed by our team. We will notify you if we have any additional questions. This process takes up to 7 days.</p>
      <div class="text-center circle orange white-text"> 2 </div><p>Once the review is complete, you will receive an email notifying you if you've been selected to move on to the next round in the process.</p>
      <div class="text-center circle orange white-text"> 3 </div><p>We will schedule a convenient time for us to connect in person or on the phone for an additional round of interviews. </p>
      <div class="text-center circle orange white-text"> 4 </div><p>We'll review your information with your selected bootcamp and we'll notify you of your application status.</p>
      <div class="text-center circle orange white-text"> 5 </div><p>In the meantime, we suggest that you start learning today using online resources such as <a href="http://www.codeacademy.com">CodeAcademy</a> or <a href="http://www.teamtreehouse.com">Treehouse</a>.</p>
    </div>
  <div>

  <h4>If you need to get in touch with us, please email us at application [at] bootcampbucks [dot] com.</h4>

</div>