<div class="jumbotron">
  <div class="page-header">
    <h2>Financial Aid for your Development Bootcamp<br>
    <small>Become a software developer and increase your earnings potential!</small></h2>
     <p button type="button" class="btn btn-primary">Calculate Your Real Cost!</button></p>
  </div>
  <br>
  <br>
  <br>
  <p>Render the 'application form'</p>
  <br>
  <br>
  <br>
  <br>
  <p>Calculate Your Real Cost...Select bootcamp</p> 
</div>


