<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bootcamp Bucks - Financial Aid for Code Camps</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="jumbotron">
      <div class="container text-center">
        <h2>Financial Aid for Development Bootcamp</h2>
        <p>Become a software developer and increase your earnings potential!</p>
        <p><a class="btn btn-primary btn-lg" role="button">Get Started!</a></p>
      </div>
    </div>

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-pencil"></i> Unlock Your Earnings Potential</h3>
                    <p>Learning how to develop software can greatly increase your earnings potential and accelerate your career trajectory. Our goal is to align our interests so that if you succed, we both succeed!</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-folder-open"></i> Know Your Real Cost of Bootcamp</h3>
                    <p>This template features many common pages that you might see on a business website. Pages include: about, contact, portfolio variations, blog, pricing, FAQ, 404, services, and general multi-purpose pages.</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-check-circle"></i> Borrow from Your Code Peers</h3>
                    <p>Bootcamp Bucks was started by developers for developers. Having gone through the a development bootcamp ourselves, we know the financial stress a bootcamp can take on a noob - but we also understand the reward.</p>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /.section -->

    <br>

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="http://magazine.nature.org/cs/groups/webcontent/@web/@magazine/documents/media/bison-in-prairie-700x450.jpg">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>Why Bootcamp Bucks?</h2>
                    <ul>
                        <li>Our Team is Awesome</li>
                        <li>You Need to Learn to Code</li>
                        <li>You'll Make Lots of Money</li>
                        <li>It's Fun and Delicious </li>
                        <li>It's Quick and Easy</li>
                        <li>And So on and So Forth</li>
                        <li>Font-Awesome fonts come pre-installed!</li>
                        <li>100% <strong>Free</strong> to Use</li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

    <div class="container">

        <div class="row well">
            <div class="col-lg-8 col-md-8">
                <h4>Bootcamp Bucks is easier than a bank and backed by fellow coders.</h4>
                <p>Start your application and find your real cost of attending a development bootcamp now!</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <a class="btn btn-lg btn-primary pull-right" href="http://startbootstrap.com">Get Started!</a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <footer>
            <div class="col">
                <div class="col-lg-1">
                    <p>Copyright &copy; Bootcamp Bucks 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>

</body>

</html>

