<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bootcamp Bucks - Financial Aid for Code Camps</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

<div class="jumbotron">
  <div class="container text-center">
    <div class="jumbotron-text">
      <h1>Financial Aid for Development Bootcamp</h1>
      <h3>Become a software developer and increase your earnings potential!</h3>
      <br>
      <br>
      <p><a class="btn btn-primary btn-lg" href="/users/sign_up">Get Started!</a></p>
    </div>
  </div>
</div>

    <div class="bottom-part">
      <div class="row">
        <div class="col-xs-4"> 
          <div class="text-center circle green">  
            <i class="fa fa-5x fa-signal"></i>
          </div>
          <h3 class="text-center green-text">INCREASE YOUR POTENTIAL</h3>
          <p class="real_calc_bottom_text">Learning how to develop software can greatly increase your earnings potential and accelerate your career trajectory. Our goal is to align your interests with ours so that when you succeed, we both succeed!</p>
        </div>
        <div class="col-xs-4 middle"> 
          <div class="text-center circle blue">  
            <i class="fa fa-5x fa-search"></i>
          </div>
          <h3 class="text-center blue-text">KNOW YOUR REAL COST</h3>
          <p class="real_calc_bottom_text">We help you understand exactly what your expectations should be going into your program, including your opportunity cost of giving up your current career to pursue a new career as a software developer.</p>
        </div>
        <div class="col-xs-4 "> 
           <div class="text-center circle purple">  
            <i class="fa fa-5x fa-users"></i>
          </div>
           <h3 class="text-center purple-text">BORROW FROM YOUR PEERS</h3>
           <p class="real_calc_bottom_text">Bootcamp Bucks was started by developers for developers. Having gone through the a development bootcamp ourselves, we know the financial stress a bootcamp can take on a noob - but we also understand the reward.</p>
        </div>
      </div> <!-- row -->
    </div> <!-- bottom part -->
</div> 

<div class="well about_us">
  <h2 class="text-center green-text">ABOUT BOOTCAMP BUCKS</h2>
  <h3 class="well text-center">Bootcamp Bucks was started in 2014 by a bunch of noobs from Devpoint Labs, a ruby on rails development bootcamp in Salt Lake City. Our goal is to help students achieve their goal of learning how to code and increase their earnings potential through providing financial aid to make coding bootcamps more accessible.</h3>
  <h3 class="text-center green-text">THE TEAM</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="shawn_profile_pic">
          <div class="caption text-center">
            <h3>Shawn B.</h3>
            <p>Shawn is a entrepreneur and startup advisor. He attended Devpoint Labs in Salt Lake City to learn Ruby on Rails. He currently lives in Florida with his fiancee and dog and is working on a healthcare startup.</p>
            <p><a href="https://www.linkedin.com/pub/shawn-bercuson/4/199/563" class="fa fa-3x fa-linkedin-square"></a> <a href="https://github.com/sbercus10" class="fa fa-3x fa-github-square"></a></p>
          </div> <!-- caption -->
        </div> <!-- thumbnail -->
    </div> <!-- col -->
      <div class="col-lg-4">
        <div class="thumbnail">
          <img data-src="/assets/images/will_profile.jpg/300x200" alt="will_profile_pic">
          <div class="caption text-center">
            <h3>Will L.</h3>
            <p>Will was previously an accountant by day and tech geek by night. He attended Devpoint Labs in Salt Lake City in 2014 and is currently working with a web development bootcamp. Currently lives in Salt Lake City with his girlfriend and two dogs.</p>
            <p><a href="https://www.linkedin.com/profile/view?id=333742535&trk=nav_responsive_tab_profile" class="fa fa-3x fa-linkedin-square"></a> <a href="https://github.com/wjliang22" class="fa fa-3x fa-github-square"></a></p>
          </div> <!-- caption -->
        </div> <!-- thumbnail -->
      </div> <!-- col -->
      <div class="col-lg-4">
         <div class="thumbnail">
          <img data-src="holder.js/300x200" alt="rebecca_profile_pic">
          <div class="caption text-center">
            <h3>Rebecca N.</h3>
            <p>Rebecca is a entreprenuer and startup advisor. She attended Devpoint Labs in Salt Lake City to learn Ruby on Rails. She recently moved from the Bay Area to Park City, UT and is </p>
            <p><a href="#" class="fa fa-3x fa-linkedin-square"></a> <a href="#" class="fa fa-3x fa-github-square"></a></p>
          </div> <!-- caption -->
        </div> <!-- thumbnail -->
      </div> <!-- col -->
    </div> <!-- column -->
</div> <!-- well -->

        <hr>

        <footer>
            <div class="col">
                <div class="col-lg-1-offset-10">
                    <p>Copyright &copy; Bootcamp Bucks 2014</p>
                </div>
                <div class="btn-right">
                  <a class="btn btn-danger btn-lg" href="/users/sign_up">Get Started!</a>
               </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>

</body>

</html>


