<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bootcamp Bucks - Financial Aid for Code Camps</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

    <div class="jumbotron">
      <div class="container text-center">
        <div class="jumbotron-text">
        <h2>Financial Aid for Development Bootcamp</h2>
        <p>Become a software developer and increase your earnings potential!</p>
        <p><a class="btn btn-primary btn-lg" href="/users/sign_up">Get Started!</a></p>
    </div>
      </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <span class="glyphicon glyphicon-signal"></span>
                    <h3><i class="fa fa-pencil"></i>Unlock Your Potential</h3>
                    <p>Learning to code can greatly increase your earnings potential</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <span class="glyphicon glyphicon-signal"></span>
                    <h3><i class="fa fa-folder-open"></i>Know Your Real Cost</h3>
                    <p>Understanding your real costs can help you make an informed decision.</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <span class="glyphicon glyphicon-signal"></span>
                    <h3><i class="fa fa-check-circle"></i>Borrow from Peers</h3>
                    <p>We are developers too and we are interested in seeing you succeed.</p>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.section -->

    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>

</body>

</html>

