
<%= render 'form' %>


<hr>

  <footer>
      <div class="col">
          <div class="col-lg-1-offset-10">
              <p>Copyright &copy; Bootcamp Bucks 2014</p>
          </div>
      </div>
  </footer>