<h1>Calculate Your Real Cost of Bootcamp</h1>


<%= @real_cost.inspect %>


<br>
<br>

<p>Your true cost for this bootcamp: </p><%= @real_cost.true_cost %>
<br>
<br>

<p>Your inital down payment (25% of tuition) :</p><%= @real_cost.down_payment %>

