// Add your global sass variables up top
$green: #0BA086;
$lime: #6EAB4B;
$blue: #005DC2;
$light-blue: #13C0E5;
$off: #F4F4F2;

$dark-gray: #1d1d1d;
$light-black: #434245;





// Import frameworks

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "mixins";
@import "homepage";
@import "bootstrap_and_overrides";
@import "jquery.ui.all";
@import "framework_and_overrides";
@import "real_calc.css.scss";
@import "login.css.scss";

footer{
  margin-left: 30px;
}