// Add your global sass variables up top
$blue: #409ed5;
$red-orange: #e33a25;
$green: #118a37;
$yellow: #e0c12a;
$dark-gray: #1d1d1d;
$light-black: #434245;


// Custom fonts
// $navbar-default: white;


// Import frameworks

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "mixins";
@import "homepage";
@import "bootstrap_and_overrides";
@import "framework_and_overrides";

