// Add your global sass variables up top
$blue: #409ed5;
$red-orange: #e33a25;
$green: #118a37;
$yellow: #e0c12a;
$dark-gray: #1d1d1d;
$light-black: #434245;


// Custom fonts
$navbar-default: white;


@import "mixins";

// Import frameworks

@import "sitewide";
@import "static_pages";
@import "bootstrap_and_overrides";
// @import "framework_and_overrides";