/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: lighten($lime, 7%);
}

.jumbotron {
  background: url(jumbo.jpg);
  padding-top: 70px;
  padding-bottom: 15px;
  margin-top: 50;
  margin-bottom: 10px;
  text-align: left;
  color: darken($light-blue, 22%);
  text-shadow: .25px .25px .25px #375e3a;
}
.section{
  color: darken($light-blue, 27%);
  margin-left: 30px;
  margin-right: 30px;
}
/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

body {
  color: #fff;
  text-shadow: 0 .5px .5px rgba(0,0,0,.5);
  padding-top: 10px;
} /* box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-left: auto;
  margin-right: auto;
}

/* Padding for spacing */
.inner {
  padding: 10px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottom-part{
  margin-top: -100px;
  margin-bottom: 50px;
}

// // on new.html.erb
// .new_header{
//   padding: 0px;
//   border: 10px;
// }
