.panel {
  border-color: #F4F4F2;
  text-shadow: .002px .002px darken($light-blue, 27%);
  background-color: $light-blue;
  margin-top: 110px;
  overflow: hidden;
}

.authform{
  border-color: #F4F4F2;

}

.form-group{
  border-color: #0B8186;
}


.panel-info{
  background-color: #fff;
}