
  
.main{
background: url(BBg.jpg) ;
background-repeat: no-repeat;
background-size: 100%;}

.main{
//   background: url(BBg.jpg) ;
// background-repeat: no-repeat;
// background-size: 800px 650px;
width: 800px;
max-width: 100%;
margin-top: 30px;
padding-top: 15px;
margin-left: 4%;
text-shadow: .025px .025px white;
}



.h4 { 
color: #0B7786;
}


.url {
  max-width: 100%;
  height: auto;
}
.rc-main{
margin-left: 30px;
padding-left: 30px;
margin-top: 60px;
padding-top: 10px;
color: #0071C2;
max-width: 100%;

}
.back{
  margin-left: 100px;
  margin-bottom: 260px;
}

.container{
max-width: 100%;
color: #0071C2;
background-color: transparent;
}
.rc-calc {

padding: 10px 10px 10px 20px;
width: 340px;
margin-left: 575px;
margin-top: 0px;
margin-bottom: 20px;
font-size: 15px;
background-color: white;
border: #118a37 1px solid;
border-radius: 10px;
overflow: hidden;
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-ms-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
z-index: 99;
-webkit-backface-visibility: hidden;

}
.rc-side{
position: relative;
background: white;
color: #757575;
width: 326px;
border-top: 1px solid #007fad;
border-radius: 0 0 10px 10px;
margin: 0 auto;

}

.camps-menu select {
   background: transparent;
   width: 268px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

.rc-btn {
  text-align: center;
  padding: 3px 5px 3px 2px;
}

.shockvalue{
  margin-left: 30px;
  margin-top: 15px;
}
.yourstats{
  margin-left: 30px;
  margin-top: 15px;
}


