
  
.main{
background: url(BBg.jpg) ;
background-repeat: no-repeat;
background-size: 100%;}

.main{
//   background: url(BBg.jpg) ;
// background-repeat: no-repeat;
// background-size: 800px 650px;
width: 800px;
height: 600px;
max-width: 100%;
max-height: 100%;
padding-top: 15px;
margin-left: 4%;
text-shadow: .025px .025px white;
}

.bottom-part{
  padding-top: 40px;
}

.h4 { 
color: #0B7786;
}


.url {
  max-width: 100%;
  height: auto;
}

.real_cost_header{
  background-color: lightgrey;
  padding: 20px;
}

.rc-main{
margin-left: 30px;
padding-left: -10px;
margin-top: -20px;
padding-top: 10px;
color: #0071C2;
max-width: 100%;
}

.back{
  margin-left: 100px;
  margin-bottom: 260px;
}

.container{
  padding-top: 5px;   
  max-width: 100%;
  color: #0071C2;
  background-color: transparent;
}

.rccalc{
  float: left;
  position: absolute;
  // z-index: 0;
}

.rc-calc {
  padding: 15px;
  width: 360px;
  margin-left: 650px;
  margin-top: -280px;
  margin-bottom: 20px;
  font-size: 15px;
  background-color: white;
  border: #118a37 1px solid;
  border-radius: 10px;
  // overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 99;
  -webkit-backface-visibility: hidden;
}


.devise{
  margin-top: 30px;
  padding-top: 50px;
}

.rc-side{
  position: relative;
  background: white;
  color: #757575;
  width: 326px;
  border-top: 1px solid #007fad;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
}

.real_calc_bottom_text{
  text-align: center;
  margin-left: 30px;
  padding-right: 30px;
}

.camps-menu select {
   background: transparent;
   width: 268px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }

.rc-btn {
  text-align: center;
  padding: 3px 5px 3px 2px;
}

.shockvalue{
  margin-left: 30px;
  margin-top: 15px;
}
.yourstats{
  margin-left: 30px;
  margin-top: 15px;
}

.middle{
  border-right: 1px dashed black;
  border-left: 1px dashed black;
}

.circle{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  padding-top: 10px;
  margin: auto;
  i{
  color: white;
  }
}

.green{
  background-color: green;
}

.green-text{
  color: green;
}

.blue{
  background-color: blue;
}

.blue-text{
  color: blue;
}

.purple{
  background-color: purple;
}

.purple-text{
  color: purple;
}

.orange{
  background-color: orange;
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  margin-left: 60px;
}

.white-text{
  color: white;
  font-size: 28pt;
}


